<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Compare Today's Current Mortgage Rates | Zillow</title>
  </head>
  <body>
    <header>
      <div>
        <a href="">Buy</a>
        <a href="">Rent</a>
        <a href="">Sell</a>
        <a href="">Home Loans</a>
        <a href="">Agent finder</a>
      </div>
      <div>
        <img src="" alt="" />
      </div>
      <div>
        <a href="">list your rental</a>
        <a href="">list your rental</a>
        <a href="">list your rental</a>
        <a href="">list your rental</a>
      </div>
    </header>
    <section>
      <h4>Compare Today's Mortgage Rates</h4>
      <p>
        Answer a few questions about your loan preferences to compare mortgage
        rates from multiple lenders.
      </p>
      <form action="">
        <input type="text" name="" id="" />
        <button>Get started</button>
      </form>
      <p>Rates can vary by location.</p>
    </section>
    <p>Mortgages/Today's Average Mortgage Rates</p>
    <section>
      <h2>What are today's mortgage rates?</h2>
      <h3>National 30-year fixed mortgage rates go up to 6.74%</h3>
      <p>
        The current average 30-year fixed mortgage rate climbed 1 basis point
        from 6.73% to 6.74% on Friday, Zillow announced. The 30-year fixed
        mortgage rate on January 24, 2025 is down 4 basis points from the
        previous week's average rate of 6.78%. Additionally, the current
        national average 15-year fixed mortgage rate remained stable at 6.02%.
        The current national average 5-year ARM mortgage rate is up 2 basis
        points from 6.67% to 6.69%.
      </p>
      <p>
        The current average 30-year fixed mortgage rate climbed 1 basis point
        from 6.73% to 6.74% on Friday, Zillow announced. The 30-year fixed
        mortgage rate on January 24, 2025 is down 4 basis points from the
        previous week's average rate of 6.78%. Additionally, the current
        national average 15-year fixed mortgage rate remained stable at 6.02%.
        The current national average 5-year ARM mortgage rate is up 2 basis
        points from 6.67% to 6.69%.
      </p>
    </section>

    <section>
      <h2>Mortgage rate trends</h2>
      <p>
        Adjust the graph below to see historical mortgage rates tailored to your
        loan program, credit score, down payment and location.
      </p>
      <div>
        <div>
          <h5>LOAN PROGRAMS</h5>
          <div>
            <input type="checkbox" name="" id="" />
            <p>30 year fixed</p>
          </div>
          <div>
            <input type="checkbox" name="" id="" />
            <p>20 year fixed</p>
          </div>
          <div>
            <input type="checkbox" name="" id="" />
            <p>15 year fixed</p>
          </div>
          <div>
            <input type="checkbox" name="" id="" />
            <p>10 year fixed</p>
          </div>
          <div>
            <input type="checkbox" name="" id="" />
            <p>7-year ARM</p>
          </div>
          <div>
            <input type="checkbox" name="" id="" />
            <p>5-year ARM</p>
          </div>
          <div>
            <input type="checkbox" name="" id="" />
            <p>3-year ARM</p>
          </div>
        </div>
        <div>
          <div>
            <label for="Loan purpose">Loan purpose</label>
            <select name="Loan purpose" id="Loan purpose">
              <option value="volvo">Purchase</option>
              <option value="saab">Refinance</option>
            </select>
          </div>

          <div>
            <label for="Loan purpose">Credit rating</label>
            <select name="Credit rating" id="Credit rating">
              <option value="volvo">740 or higher</option>
              <option value="saab">680 to 740</option>
              <option value="saab">Less than 680</option>
            </select>
          </div>

          <div>
            <label for="Loan purpose">Percent down</label>
            <select name="Percent down" id="Percent down">
              <option value="volvo">20% or higher</option>
              <option value="saab">5% to 20%</option>
              <option value="saab">Less than 5%</option>
            </select>
          </div>

          <div>
            <label for="Location">Location</label>
            <select name="Location" id="Location">
              <option value="volvo">Purchase</option>
              <option value="saab">Refinance</option>
            </select>
          </div>

          <div>
            <label for="Loan purpose">Timespan</label>
            <select name="Timespan" id="Timespan">
              <option value="volvo">Purchase</option>
              <option value="saab">Refinance</option>
            </select>
          </div>
        </div>
      </div>
      <img src="" alt="" />
    </section>

    <section>
      <h1>Compare current mortgage rates by loan type</h1>
      <p>
        The table below is updated daily with current mortgage rates for the
        most common types of home loans. Compare week-over-week changes to
        mortgage rates and APRs.
      </p>
      <h4>Conforming loans</h4>
      <table></table>
      <h4>Government loans</h4>
      <table></table>
      <h4>Jumbo loans</h4>
      <table></table>
    </section>

    <section>
      <h1>What is a good mortgage interest rate?</h1>
      <p>
        The best mortgage rate for you will depend on your financial situation.
        A home loan with a shorter term may have a lower interest rate but a
        higher monthly payment, while a home loan with an adjustable interest
        rate may have a lower interest rate at first but then change annually
        after a set period of time. For example, a 7-year ARM (adjustable-rate
        mortgage) has a set rate for the initial 7 years then adjusts annually
        for the remaining life of the loan (loan term), while a 30-year
        fixed-rate mortgage has a rate that stays the same over the loan term.
      </p>
    </section>

    <section>
      <h1>How to get the best mortgage rate</h1>
      <p>
        Mortgage rates change daily and can vary widely depending on a variety
        of factors, including the borrower's personal situation. The difference
        in mortgage rates can mean spending tens of thousands of dollars more
        (or less) in interest over the life of the loan. Here are some tactics
        to help you find the best mortgage rate for your new home loan:
      </p>
      <div>
        <div>
          <div>1</div>
          <div>
            <h3>Shop around for a lender</h3>
            <p>
              Using the lender your real estate agent typically works with
              doesn't guarantee you'll get the best mortgage rate for your home
              loan. Ask around for recommendations or use an online tool to find
              a lender who can provide you with a loan that is best for your
              situation.
            </p>
          </div>
        </div>
        <div>
          <div>1</div>
          <div>
            <h3>Shop around for a lender</h3>
            <p>
              Using the lender your real estate agent typically works with
              doesn't guarantee you'll get the best mortgage rate for your home
              loan. Ask around for recommendations or use an online tool to find
              a lender who can provide you with a loan that is best for your
              situation.
            </p>
          </div>
        </div>
        <div>
          <div>1</div>
          <div>
            <h3>Shop around for a lender</h3>
            <p>
              Using the lender your real estate agent typically works with
              doesn't guarantee you'll get the best mortgage rate for your home
              loan. Ask around for recommendations or use an online tool to find
              a lender who can provide you with a loan that is best for your
              situation.
            </p>
          </div>
        </div>
        <div>
          <div>1</div>
          <div>
            <h3>Shop around for a lender</h3>
            <p>
              Using the lender your real estate agent typically works with
              doesn't guarantee you'll get the best mortgage rate for your home
              loan. Ask around for recommendations or use an online tool to find
              a lender who can provide you with a loan that is best for your
              situation.
            </p>
          </div>
        </div>
        <div>
          <div>1</div>
          <div>
            <h3>Shop around for a lender</h3>
            <p>
              Using the lender your real estate agent typically works with
              doesn't guarantee you'll get the best mortgage rate for your home
              loan. Ask around for recommendations or use an online tool to find
              a lender who can provide you with a loan that is best for your
              situation.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <h1>Frequently asked questions about mortgages</h1>
    </section>

    <section>
      <div>
        <img src="" alt="" />
        <h2>Mortgage calculator</h2>
        <p>Quickly estimate your monthly mortgage payments for a new home.</p>
        <button>Calculate your mortgage</button>
      </div>
      <div>
        <img src="" alt="" />
        <h2>Mortgage calculator</h2>
        <p>Quickly estimate your monthly mortgage payments for a new home.</p>
        <button>Calculate your mortgage</button>
      </div>
      <div>
        <img src="" alt="" />
        <h2>Mortgage calculator</h2>
        <p>Quickly estimate your monthly mortgage payments for a new home.</p>
        <button>Calculate your mortgage</button>
      </div>
    </section>

    <section>
      <div>
        <h3>Mortgage Tools</h3>

        <a href="">Get Pre-Approved</a>
        <a href="">Get Pre-Approved</a>
        <a href="">Get Pre-Approved</a>
        <a href="">Get Pre-Approved</a>
        <a href="">Get Pre-Approved</a>
      </div>
      <div>
        <h3>Mortgage Tools</h3>

        <a href="">Get Pre-Approved</a>
        <a href="">Get Pre-Approved</a>
        <a href="">Get Pre-Approved</a>
        <a href="">Get Pre-Approved</a>
        <a href="">Get Pre-Approved</a>
      </div>
      <div>
        <h3>Mortgage Tools</h3>

        <a href="">Get Pre-Approved</a>
        <a href="">Get Pre-Approved</a>
        <a href="">Get Pre-Approved</a>
        <a href="">Get Pre-Approved</a>
        <a href="">Get Pre-Approved</a>
      </div>
      <div>
        <h3>Mortgage Tools</h3>

        <a href="">Get Pre-Approved</a>
        <a href="">Get Pre-Approved</a>
        <a href="">Get Pre-Approved</a>
        <a href="">Get Pre-Approved</a>
        <a href="">Get Pre-Approved</a>
      </div>
    </section>

    <section>
      Current Mortgage Rates by State

      <a href="">United States</a>
      <a href="">United States</a>
      <a href="">United States</a>
      <a href="">United States</a>
      <a href="">United States</a>
      <a href="">United States</a>
      <a href="">United States</a>
      <a href="">United States</a>
      <a href="">United States</a>
      <a href="">United States</a>
      <a href="">United States</a>
      <a href="">United States</a>
      <a href="">United States</a>
      <a href="">United States</a>
    </section>
  </body>

  <footer>
    <a href="">About </a>
    <a href="">About </a>
    <a href="">About </a>
    <a href="">About </a>
    <a href="">About </a>
    <a href="">About </a>
    <a href="">About </a>
    <a href="">About </a>
    <a href="">About </a>
    <a href="">About </a>

    <a href="">Do Not Sell or Share My Personal Information →</a>
  </footer>
</html>
