<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>xZillowx | Sell</title>
    <link rel="stylesheet" href="./css/rental.css" />
    <link rel="stylesheet" href="./css/footer.css" />
  </head>
  <body>
    <div class="sell-section">
      <h1>Sell your home with confidence</h1>
      <p>Zillow is making it simpler to sell your home and move forward</p>
    </div>

    <div class="sell-2">
      <img src="/image/bg.jpeg" width="300px" alt="z1" />

      <div class="sleft">
        <h1>Sell with a Zillow Partner agent or get a cash offer</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam sit ea
          consequuntur.
        </p>

        <h3>aa</h3>
        <input type="search" name="" id="" style="background-color: white" />

        <h3>a</h3>
        <p>as</p>
        <p>as</p>
      </div>

      <div class="sright">
        <h3>yeah</h3>
        <p>lorem</p>
      </div>
    </div>

    <div class="sell-3">
      <img src="" alt="" />

      <div class="sleft">
        <h1>Sell traditionally with an agent</h1>
        <p></p>

        <input type="button" value="Find an agent" /><img
          src="/image/search.png"
          alt=""
        />
        <a href="">Learn how to choose an agent</a>

        <p>why sell traditionally</p>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>

      <div class="sright">
        <p>how to sell traditionally</p>
        <p></p>
      </div>
    </div>

    <div class="sell-2">
      <img src="" alt="" />
      <div class="sleft">
        <h1>Sell your home yourself</h1>
        <p>aa</p>

        <input type="button" value="Post your home for sale" />
        <a href="">Learn more about FSBO</a>

        <h1>Why sell FSBO</h1>
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>

      <div class="sright">
        <h2>How to sell FSBO</h2>
        <p></p>
      </div>
    </div>

    <div class="sell-4">
      <hr class="hr-gold" />

      <h1>Go-to resources for a successful sale</h1>
      <br />
      <div class="sell-5">
        <p>Explore your home's value</p>
        <p>Enter your Address to get your free Zestimate</p>
        <input type="search" name="" value="Enter your home address" id="" />
      </div>
    </div>

    <div class="sell-6">
      <h2>Get acquainted with the process</h2>
      <p>
        As you begin the steps to selling, learn what to expect with our
        <a href="">Sellers Guide</a>
      </p>
      <br />

      <div class="sell-9">
        <div class="tab">
          <button class="tablinks" onclick="openCity(event, 'London')">
            Preparing to Sell
          </button>
          <button class="tablinks" onclick="openCity(event, 'Paris')">
            Timing your sale
          </button>
          <button class="tablinks" onclick="openCity(event, 'Tokyo')">
            Pricing your home
          </button>
          <button class="tablinks" onclick="openCity(event, 'Tokyo')">
            Getting noticed
          </button>
          <button class="tablinks" onclick="openCity(event, 'Tokyo')">
            Offers,closing & moving
          </button>
        </div>

        <!-- Tab content -->
        <div id="London" class="tabcontent">
          <div class="tab-learn">
            <img
              src="/image/home-1.jpg"
              width="600px"
              height="240px"
              alt="33"
            />
            <h1>How to sell</h1>
            <p>Lorem, ipsum.</p>
          </div>

          <div class="tab-learn">
            <img
              src="/image/home-1.jpg"
              width="600px"
              height="240px"
              alt="33"
            />
            <h1>How to sell</h1>
            <p>Lorem, ipsum.</p>
          </div>

          <br />
          <div class="tab-learn">
            <img
              src="/image/home-1.jpg"
              width="600px"
              height="240px"
              alt="33"
            />
            <h1>How to sell</h1>
            <p>Lorem, ipsum.</p>
          </div>

          <div class="tab-learn">
            <img
              src="/image/home-1.jpg"
              width="600px"
              height="240px"
              alt="33"
            />
            <h1>How to sell</h1>
            <p>Lorem, ipsum.</p>
          </div>
        </div>

        <div id="Paris" class="tabcontent">
          <div class="tab-learn">
            <img
              src="/image/home-1.jpg"
              width="600px"
              height="240px"
              alt="33"
            />
            <h1>How to sell</h1>
            <p>Lorem, ipsum.</p>
          </div>
          <div class="tab-learn">
            <img
              src="/image/home-1.jpg"
              width="600px"
              height="240px"
              alt="33"
            />
            <h1>How to sell</h1>
            <p>Lorem, ipsum.</p>
          </div>
          <div class="tab-learn">
            <img
              src="/image/home-1.jpg"
              width="600px"
              height="240px"
              alt="33"
            />
            <h1>How to sell</h1>
            <p>Lorem, ipsum.</p>
          </div>
          <div class="tab-learn">
            <img
              src="/image/home-1.jpg"
              width="600px"
              height="240px"
              alt="33"
            />
            <h1>How to sell</h1>
            <p>Lorem, ipsum.</p>
          </div>
        </div>

        <div id="Tokyo" class="tabcontent">
          <div class="tab-learn">
            <img
              src="/image/home-1.jpg"
              width="600px"
              height="240px"
              alt="33"
            />
            <h1>How to sell</h1>
            <p>Lorem, ipsum.</p>
          </div>
          <div class="tab-learn">
            <img
              src="/image/home-1.jpg"
              width="600px"
              height="240px"
              alt="33"
            />
            <h1>How to sell</h1>
            <p>Lorem, ipsum.</p>
          </div>
          <div class="tab-learn">
            <img
              src="/image/home-1.jpg"
              width="600px"
              height="240px"
              alt="33"
            />
            <h1>How to sell</h1>
            <p>Lorem, ipsum.</p>
          </div>
          <div class="tab-learn">
            <img
              src="/image/home-1.jpg"
              width="600px"
              height="240px"
              alt="33"
            />
            <h1>How to sell</h1>
            <p>Lorem, ipsum.</p>
          </div>
        </div>
      </div>

      <input type="button" value="View all articles" />
    </div>

    <div class="sell-7">
      <h1>Frequently Asked Questions</h1>
      <p>What is the Clear Cooperation Policy?</p>
      <img src="/image/dropdown.png" alt="" /><br />
      <hr />
      <p>What is the Clear Cooperation Policy?</p>
      <img src="/image/dropdown.png" alt="" /><br />
      <hr />
      <p>What is the Clear Cooperation Policy?</p>
      <img src="/image/dropdown.png" alt="" /><br />
      <hr />
      <p>What is the Clear Cooperation Policy?</p>
      <img src="/image/dropdown.png" alt="" /><br />
      <hr />
      <p>What is the Clear Cooperation Policy?</p>
      <img src="/image/dropdown.png" alt="" /><br />
      <hr />
      <p>What is the Clear Cooperation Policy?</p>
      <img src="/image/dropdown.png" alt="" /><br />
      <hr />
      <p>What is the Clear Cooperation Policy?</p>
      <img src="/image/dropdown.png" alt="" /><br />
      <hr />
      <p>What is the Clear Cooperation Policy?</p>
      <img src="/image/dropdown.png" alt="" /><br />
      <hr />
    </div>

    <p>
      Compared to similar , nearby non-Showcase listings. All claims are based
      on data available <a href="">here</a>
    </p>

    <!-- footer -->

    <script src="/script.js"></script>
  </body>
</html>
