.header{
  position: absolute;
  bottom: 0;
  background-color: white;
  padding-bottom: 25px;
}
.hr-gold{
  width: 10%; 
  border: gold 1px solid;
}
.filter button{
  background-color: white;
  padding: 12px;
}
/*  */
.header p{
  display: inline-block;
}
.buy-slides{
  display: flex;
}
.slideshow {
  position: relative;
  width: 580px; /* adjust to your image width */
  height: 450px; /* adjust to your image height */
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 10px 2px #000000;
}

.slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 80%;
}


  .slides img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
  }
  
  .slides img:first-child {
    display: block;
  }
  
  .arrows {
    position: absolute;
    top: 45%;
    transform: translateY(-40%);
    width: 94%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
  }
  
  .prev {
    float: left;
  }
  
  .next {
    float: right;
  }
  
  .dots {
    position: absolute;
    bottom: 110px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #fff;
  }

  .love{
    position: absolute;
    top: 0;
    right: 10px;
    color: aliceblue;
  }

  .fms{
    position: absolute;
    top: 350px;
    right: 10px;
    color: aliceblue;
  }
  .text{
    position: absolute;
    top: 0;
    left: 10px;
    color: aliceblue;
    background: #706e6e;
  }

  .pop-city{
    border: 1px solid black;
    width: 900px;
    height: 600px;
    margin: 20px;
  }
  .cities a{
    display: flex;
  }
  .sell-section{
    width: 100%;
    height: 358px;
    background: url('/image/home-2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    
  }
  .sell-section:hover{
    opacity:0.8;
    z-index: -1;
  }
   .sell-section h1{
    padding-top: 120px;
    text-shadow: #000000;
  }
  .sell-2, .sell-3{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #d6cef3;
    align-items: center;
    /* margin: 80px; */
  }
  .sell-3{
    background-color: white;
  }

  .sell-2 img, .sell-3 img{
    margin-left: auto;
    margin-top: 20px;
  }
  
  .sleft{
    margin-right: auto;
  }

  .sright{
    margin-left: auto;
  }

  .sell-5{
    width: 100%;
    height: 400px;
    background: url('/image/home-2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    font-size: 35px;
  }
  .sell-5 p{
    padding-top: 30px;
  }

  .sell-7 p{
    display: inline-block;
    padding-right: 60rem;
  }

  .pic-sect{
    margin-bottom: 20px;
  }
  .pic-sect h2{
    cursor: pointer;
  }

  .sect-1{
    display: none;
  }

  .sect-1 img{
    width:100%;
    height:auto;
    margin-bottom: 10px;
  }
  .show{
    display: block;
  }

  .sell-9{
    margin-bottom: 32px;
  }

 /* Style the tab */
.tab{
  overflow:hidden;
  border:1px solid #ccc;
  /* background-color:#f1f1f1; */
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button{
  background-color:inherit;
   float: left;
   border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 76px;
  transition: 0.3s;
  }
 
  /* Change background color of buttons on hover */
  .tab button:hover{
  background-color:#ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active{
  /* background-color:#ccc; */
  /* text-decoration: underline; */
  border-bottom: 3px solid blue; 
  }
  
  /* Style the tab content */
  .tabcontent{
  display:none;
  padding:6px 12px;
  border:1px solid #ccc;
  border-top:none;
  }

  .tab-learn{
    width: 600px;
    height: 300px;
    margin: 10px;
    display: inline-block;
    background-color: #f3f6ff;
    position: relative;
    border: #000000 1px solid;
  }
  .tab-learn h1, .tab-learn p{
    position: absolute;
    bottom: 0;
    
    /* background-color: white; */
    /* padding-bottom: 5px; */
  /* gap: 38px; */
  }


  /* Post sell page */
  .post-sell{
    background-color: blue;
    height: 300px;
  }
  .post-sell input{
    width: 10%;
    padding: 15px;
    background-color: white;
    border-radius:0;
    color: #706e6e;
    text-align: left;
    margin: 10px;
  }
  #streetad{
    width: 25%;
  }
  #Continue{
    background-color: rgb(9, 161, 9);
    color: white;
    text-align: center;
  }
  .post-sell a{
    color: white;
  }
  .post-sell h1{
    background-color: rgb(0, 0, 161);
    font-size: 30px;
    padding: 10px;
    color: #fff;
  }
.post-sell-3{
  display: flex;
}
.post-4{
  margin: 30px;
}

  .input-t{
    margin: 2px;
    background-color: white!important;
    border: 1px black solid;
    display: block;
    text-align: left;
    color: #000;
  }
.input-t:hover{
  background-color: white;
}
.sf-2{
  border: 1px black solid;
  margin: 5px;
  padding: 10px;
  
}
.photos{
  text-align: center;
  border: 1px black solid;
  padding: 12px;
  margin-bottom: 30px;
}
.sf-container{
  text-align: left;
}
#addf{
  width: 100px;
  display: none;
}
.imgf{
  background-color:blue;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border:none;

}

.center-everything {
  border-bottom: 1px solid rgb(205, 205, 211);}
  /* Media query */

  @media  (max-width: 480px) {
    .sright,.sleft{
      margin: 0;
    }
    .buy-slides{

      flex-direction: column;
    }
    .slideshow {
      position: relative;
      width: 280px; /* adjust to your image width */
      height: 450px; /* adjust to your image height */
      padding: 10px;
      margin: 10px;
      box-shadow: 0 0 10px 2px #000000;
    }
    
    .slides {
      position: absolute;
      top: 0;
      left: 0;
      width: 300px;
      height: 80%;
    }

    .sell-7 p{
      /* display: inline-block; */
      padding-right: 1rem;
    }
    .post-sell-3{
      display: block;
    }
    .post-sell input{
      margin: 10px;
      width: 10%;
    }

    .tab button{
      padding: 14px 8px;
      transition: 0.3s;
      }
     .tab-learn{
      width: 400px;
     }
    
  }